.env
.venv/
checkpoints
*.out
*.log
*.slurm
wandb
logs
data/beliefbank/beliefbank_augmented2.json
data/beliefbank/beliefbank_augmented3.json
data/beliefbank/beliefbank_augmented5.json
__pycache__/
*.pyc