# Install torch/torchvision separately for your CUDA version first.
accelerate
appdirs
beautifulsoup4
bitsandbytes
datasets
evaluate
gdown
huggingface_hub
LTNtorch
numpy
openai
pandas
peft
pysdd
python-dotenv
regex
requests
scikit-learn
scipy
sentencepiece
tqdm
transformers
wandb